main {
    background-color: #051D3B;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

header {
    background-color: #051D3B;
    display: flex;
    text-align: center;
    padding: 32px;
    justify-content: space-between;
    border-radius: 40px 40px 0px 0px;
}

.menu-mobile {
    visibility: hidden;
    position: absolute;
}

.Logo{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.Logo img {
    height: 34px;
}

.searchbox {
    display: flex;
    width: 700px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border-style: none;
    padding-left: 1em;
}

.profile {
    display: flex;
}

.profile p {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    padding: 0.7em;
    height: 32px;
}

.menu-nav {
    display: flex;
    flex-flow: column;
    padding: 0 0.4em 0 0;
}

.menu-nav ul li {
    display: flex;
    padding: 0.8em 0.8em 0 0;
}

.menu-nav ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

.icone-edit-codigo {
    background-color: #5081FB;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    padding: 10px;
}

.icone-comuni {
    background-color: #5081FB29;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    padding: 10px;
}

.menu-nav h3, .menuProj h3 {
    color: #FFFFFF;
    padding: 0 0 0.5em 0;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

}

.areaCodigo {
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: turquoise;
    border-radius: 8px;
    margin-left: 4em;
}

.areaCodigo .janela-codigo {
    display: flex;
    justify-content: center;
    flex-flow: column;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    padding: 1em;
}

.areaCodigo textarea {
    color: white;
    background-color:black;
    border-style: none;
    resize: "none";
    width: 27rem;
    height: 17rem;
}

.section-codigo {
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.section-codigo input {
    height: 56px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    color: white;
    word-spacing: 0.4em;
    font-family: 'Montserrat', sans-serif;
    border-style: none;
    margin-top: 3em;
    margin-left: 4.7em;
}

.menuProj {
    display: flex;
    flex-flow: column;

}

.menuProj input {
    background: #5081FB;
    border-style: none;
    border-radius: 8px;
    height: 56px;
}

.seuProjeto {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.seuProjeto input{
    height: 40px;
    margin: 0.7em 0 0.7em 0;
    padding: 0 0 0 1em;
    background: rgba(255, 255, 255, 0.16);
}

.seuProjeto textarea  {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border-style: none;
    padding: 1em 0 0 1em;
}

.projPersonalisa {
    display: flex;
    flex-flow: column;
    padding: 2em 0 0 0;
}

.projPersonalisa select {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border-style: none;
    height: 40px;
    color: white;
    padding-left: 1em;
}

.projPersonalisa img {
    padding: 0.6em 0 2em 0;
}

.icone-1, .icone-2, .icone-3 {
    width: 12px;
    height: 12px;
}

.icones-janela-codigo {
    display: flex;

}
.icone-1 {
    background: #FF5F56;
    border-radius: 50px;
    margin-left:0.5em;
    margin-bottom: 0.7em;
}

.icone-2 {
    background: #FFBD2E;
    border-radius: 50px;
    margin-left:0.5em;
}

.icone-3 {
    background: #27C93F;
    border-radius: 50px;
    margin-left:0.5em; 
}


/* mobile */
@media screen and (max-width: 768px) {
    
    header {
        display: flex;
        padding: 15px 32px 15px 32px;
    }

    .searchbox {
        visibility: hidden;
        position: absolute;
    }

    .menu-mobile {
        visibility: visible;
        position: static;
        display: flex;
    }

    .menu-mobile img {
        padding: 0 1em 0 1em;
    }

    .profile {
        visibility: hidden;
        width: 0;
    }

    main {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        padding: 15px;
    }


    .menu-nav {
        display: flex;
        visibility: hidden;
        position: absolute;
    }

    .areaCodigo {
        display: flex;
        justify-content: center;
        background-color: turquoise;
        padding: 1em;
        border-radius: 8px;
        margin: 0;
    }

    .section-codigo {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .areaCodigo textarea {
        width: 23rem;
        height: 15rem;
    }

    .section-codigo input {
        margin-left: 0;
    }
    

    .menu-nav h3, .menuProj h3 {
        color: #FFFFFF;
        padding: 1em 0 1em 0;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.4em;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    
    }

    .seuProjeto {
        padding-top: 3em;
    }

    .seuProjeto input{
        margin: 0 0 0.7em 0;
    }
    
}