main {
    background-color: #051D3B;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

header {
    background-color: #051D3B;
    display: flex;
    text-align: center;
    padding: 32px;
    justify-content: space-between;
    border-radius: 40px 40px 0px 0px;
}

.Logo{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.Logo img {
    height: 34px;
}

.searchbox {
    display: flex;
    width: 700px;
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
}

.profile {
    display: flex;
}

.profile p {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    padding: 0.7em;
    height: 32px;
}

.menu-nav {
    display: flex;
    flex-flow: column;
    padding: 0 0.4em 0 0;
}

.menu-nav ul li {
    display: flex;
    padding: 0.8em 0.8em 0 0;
    width: 220px;
}

.menu-nav ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

.icone-edit-codigo {
    background-color: #5081FB;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    padding: 10px;
}

.icone-comuni {
    background-color: #5081FB29;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    padding: 10px;
}

.menu-nav h3, .menuProj h3 {
    color: #FFFFFF;
    padding: 0 0 0.5em 0;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

}

.areaCodigo {
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: turquoise;
    width: 752px;
    height: 366px;
    border-radius: 8px;
}

.areaCodigo .janela-codigo {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

.areaCodigo textarea {
    color: white;
    background-color:black;
    border-style: none;
}

.section-codigo {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.section-codigo input {
    height: 56px;
    left: 344px;
    top: 526px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    color: white;
    word-spacing: 0.4em;
    font-family: 'Montserrat', sans-serif;
}

.menuProj {
    display: flex;
    flex-flow: column;

}

.seuProjeto {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.seuProjeto input{
    height: 40px;
}

.seuProjeto input, .seuProjeto textarea, .projPersonalisa select {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
}

.projPersonalisa {
    display: flex;
    flex-flow: column;
    padding: 2em 0 0 0;
}

.projPersonalisa select {
    height: 40px;
}

.menuProj input {
}